#titre{
    
    text-align: center;
}
#contact{
    
    margin-left: 420px;
    margin-bottom: 10px;
}

#formulaire{
    
    margin-left: 420px;
}
button{
    
    background-color: black;
    color: white;
    border-radius: 5px;
}
iframe{
    
    margin-bottom: 40px;
}
input {
    display: block;
    margin: 0px;
    padding: 0px;
}
form{
    
    display: flex;
}