body {
    margin: 0;
}
header {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    background: #272727;
    color: #FFF;
}
.header_sup {
    height: 40px;
    border-bottom: 1px solid #454545;
}
.header_description {
    display: inline-block;
    line-height: 40px;
}
nav { height: 80px; }
.lang_switch { 
    float: right; 
    height: 20px;
    margin: 10px;
    border-radius: 3px;
    background: #564e44;
    color: white;
}
h1 { 
    float: left; 
    margin: 0;
    height: 100%;
}
h1 img { height: 100%; }
nav > * { display: inline-block; }
nav ul li { display: inline-block; }
nav ul li > a {
    border: 1px solid #454545;
    border-radius: 3px; 
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 3px 5px;
    margin: 0 5px;
}
.header_tel { float: right; }