/*body{
    margin: 0;
    font-family: Lato, sans-serif;
    font-size: 14px;
}

p{
  color: black;
  font-size: 14px;
  text-align: center;
}

a{
  color: white;
  text-decoration-style: dotted;
}

body {
    
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans Condensed";
}*/
.myheader {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    background: #272727;
    color: #FFF;
}
.header_sup {
    height: 40px;
    border-bottom: 1px solid #454545;
}
.header_description {
    display: inline-block;
    line-height: 40px;
}
.mynav { height: 80px; }
.lang_switch { 
    float: right; 
    height: 20px;
    margin: 10px;
    border-radius: 3px;
    background: #564e44;
    color: white;
}
h2.alltitle { 
    float: left; 
    margin: 0;
    height: 100%;
}
h2.alltitle img { height: 100%; }
.mynav > * { display: inline-block; }
.mynav .myul { 
    height: 80px; 
    margin: 0;
}
.mynav .myul li { 
    display: inline-block; 
    height: 26px;
    margin: 27px 0;
}
.mynav .myul li > a {
    border: 1px solid #454545;
    border-radius: 3px; 
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 3px 5px;
    margin: 0 5px;
    transition: .5s ease;
}
.mynav .myul li > a:hover {
    background: white;
    color: #454545;
}
.header_tel { 
    float: right; 
    margin: 10px;
}
/*#titre{
    
    text-align: center;
}
#contact{
    padding-top: 100px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#form.myulaire{
    text-align: center;
}
.prez_profil{
  display: block;
  max-width: auto;
  vertical-align: middle;
  border: 0;
  margin: 0 auto;
}
.prez_container{
  padding-top: 100px;
  width: 585px;
  font-size: 21px;
  line-height: 1.4;
  line-height: 1.4;
  margin: 0 auto;
}
em.prez_em{
  font-size: 13px;
  font-style: italic;
}
h3.prez_title {
  text-align: center;
  text-transform: none;
  font-weight: bold;
  font-size: 21px;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 0;
  padding-bottom: 0;
}
.content {
    padding-top: 130px;
}
.prez_content{
  font-size: 21px;
}
button{
    
    background-color: black;
    color: white;
    border-radius: 5px;
}
iframe{
    
    margin-bottom: 40px;
}
input {
    display: block;
    margin: 0px;
    padding: 0px;
}
form > * {
    display: inline-block;
}
#placesend {
    transform: translateX(-5px);
}
a.prez_link{
    font-family: 'Lato';
    padding: 0px 12px;
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    line-height: 21px;
    background-clip: padding;
    background-clip: padding-box;
    background: #222;
    color: #F7F7F7;
    border: 1px solid #4a4a4a;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
a.prez_link:hover{
  color:#000;
  background-color: #fff;
  -transition: all 0.2s ease-in-out;
}
a.prez_link::after{
  content: " ➹";
    font-size: 130%;
    vertical-align: baseline;
}*/